<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="dvradiusEntities" connectionString="metadata=res://*/DVDBContext.csdl|res://*/DVDBContext.ssdl|res://*/DVDBContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VANI-PC\SQLEXPRESS;initial catalog=dvradius_New;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
