<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="dvradiusEntities" connectionString="metadata=res://*/DVDBContext.csdl|res://*/DVDBContext.ssdl|res://*/DVDBContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=V-NAPANC\VITALSQL2012;initial catalog=dvradius_New;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="DVTrace.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>

</configuration>
